.mediahub_credentials.json
__pycache__/
*.pyc
.venv/
certs/
config/
users/
data/
server/certs/
server/config/
server/users/
server/data/
server/server
server/mediahub-server-*
server/server*.exe
backend/certs/
backend/config/
backend/users/
backend/data
backend/server
backend/mediahub-server-*
backend/server*.exe
build/
backend/dist/*
!backend/dist/.gitkeep
frontend/node_modules/
frontend/.next/
frontend/out/
macOS/
.DS_Store