.mediahub_credentials.json
__pycache__/
*.pyc
.venv/
backend/certs/
backend/config/
backend/users/
backend/data
backend/server
backend/dist/*
!backend/dist/.gitkeep
frontend/node_modules/
frontend/.next/
frontend/out/
macOS/
.DS_Store